services:
  frps:
    build:
      dockerfile: "dockerfile/frp.Dockerfile"
      tags:
        - "frp:${FRP_VERSION:?error}"
      args:
        FRP_VERSION: "${FRP_VERSION:?error}"
    container_name: "frp_server"
    restart: "unless-stopped"
    command: ["./frps", "-c", "/etc/frp/frps.toml"]
    labels:
      traefik.enable: true

      #traefik.http.services.frp_sftpgo_webui.loadbalancer.server.port: "2080"
      #traefik.http.routers.sftpgo_webui.rule: "Host(`disk.${BASEURL:?error}`)"
      #traefik.http.routers.sftpgo_webui.entrypoints: "websecure"
      #traefik.http.routers.sftpgo_webui.tls.certresolver: "cloudflare"
      #traefik.http.routers.sftpgo_webui.service: "frp_sftpgo_webui"
      #traefik.http.routers.sftpgo_webui.middlewares: "user_auth"

      #traefik.http.services.frp_sftpgo_webdav.loadbalancer.server.port: "80"
      #traefik.http.routers.sftpgo_webdav.rule: "Host(`webdav${SUFFIX1}.${BASEURL:?error}`) || Host(`webdav${SUFFIX2}.${BASEURL:?error}`)"
      #traefik.http.routers.sftpgo_webdav.entrypoints: "websecure"
      #traefik.http.routers.sftpgo_webdav.tls.certresolver: "cloudflare"
      #traefik.http.routers.sftpgo_webdav.service: "frp_sftpgo_webdav"

      traefik.http.services.qbt_webui.loadbalancer.server.port: "18080"
      traefik.http.routers.qbt_webui.rule: "Host(`qbt.${BASEURL:?error}`)"
      traefik.http.routers.qbt_webui.entrypoints: "websecure"
      traefik.http.routers.qbt_webui.tls.certresolver: "cloudflare"
      traefik.http.routers.qbt_webui.service: "qbt_webui"
      traefik.http.routers.qbt_webui.middlewares: "user_auth,compressor"

      traefik.http.services.qbt_webui_504.loadbalancer.server.port: "18081"
      traefik.http.routers.qbt_webui_504.rule: "Host(`qbt504.${BASEURL:?error}`)"
      traefik.http.routers.qbt_webui_504.entrypoints: "websecure"
      traefik.http.routers.qbt_webui_504.tls.certresolver: "cloudflare"
      traefik.http.routers.qbt_webui_504.service: "qbt_webui_504"
      traefik.http.routers.qbt_webui_504.middlewares: "user_auth,compressor"

      traefik.http.services.filebrowser.loadbalancer.server.port: "18091"
      traefik.http.routers.filebrowser.rule: "Host(`files.${BASEURL:?error}`)"
      traefik.http.routers.filebrowser.entrypoints: "websecure"
      traefik.http.routers.filebrowser.tls.certresolver: "cloudflare"
      traefik.http.routers.filebrowser.service: "filebrowser"
      traefik.http.routers.filebrowser.middlewares: "compressor"

      traefik.http.services.filebrowser_504.loadbalancer.server.port: "18090"
      traefik.http.routers.filebrowser_504.rule: "Host(`files504.${BASEURL:?error}`)"
      traefik.http.routers.filebrowser_504.entrypoints: "websecure"
      traefik.http.routers.filebrowser_504.tls.certresolver: "cloudflare"
      traefik.http.routers.filebrowser_504.service: "filebrowser_504"
      traefik.http.routers.filebrowser_504.middlewares: "compressor"
    networks:
      frontend:
    ports:
      - "7000:7000"
      - "6022:6022"
    volumes:
      - "./config/frps.toml:/etc/frp/frps.toml:ro"
    deploy:
      resources:
        limits:
          memory: ${MEMORY_LIMIT:?error}

networks:
  frontend:
    external: true
