services:
  gh_proxy_util:
    build: "${UTIL_DIR}"
    container_name: "gh_proxy_util"
    environment:
      GH_PROXY_HOSTNAME: "${BASEURL}"
    command:
      - "8080->http://gh_proxy:8080"
      - "8081->http://gh_proxy:8081"
      - "8082->http://gh_proxy:8082"
      - "8083->http://gh_proxy:8083"
      - "8084->http://gh_proxy:8084"
      - "8085->http://gh_proxy:8085"
    labels:
      traefik.enable: true

      traefik.http.middlewares.ghproxy_to_raw.redirectregex.regex: "^(?:https?:\\/\\/)?ghproxy.${BASEURL:?error}\\/(?<user>[\\w-]+)\\/(?<repo>[\\w-]+)\\/raw(?<tail>.*)"
      traefik.http.middlewares.ghproxy_to_raw.redirectregex.replacement: "https://raw-githubusercontent.${BASEURL:?error}/$${user}/$${repo}$${tail}"

      #traefik.http.services.github_proxy_github.loadbalancer.server.port: "8080"
      #traefik.http.routers.github_proxy_github.rule: "Host(`ghproxy.${BASEURL:?error}`)"
      #traefik.http.routers.github_proxy_github.entrypoints: "websecure"
      #traefik.http.routers.github_proxy_github.tls.certresolver: "cloudflare"
      #traefik.http.routers.github_proxy_github.service: "github_proxy_github"
      traefik.http.routers.github_proxy_github.rule: "Host(`ghproxy.${BASEURL:?error}`)"
      traefik.http.routers.github_proxy_github.service: "noop@internal"
      traefik.http.routers.github_proxy_github.middlewares: "ghproxy_to_raw"

      traefik.http.services.github_proxy_assets.loadbalancer.server.port: "8081"
      traefik.http.routers.github_proxy_assets.rule: "Host(`github-githubassets.${BASEURL:?error}`)"
      traefik.http.routers.github_proxy_assets.entrypoints: "websecure"
      traefik.http.routers.github_proxy_assets.tls.certresolver: "cloudflare"
      traefik.http.routers.github_proxy_assets.service: "github_proxy_assets"

      traefik.http.services.github_proxy_avatars.loadbalancer.server.port: "8082"
      traefik.http.routers.github_proxy_avatars.rule: "Host(`avatars-githubusercontent.${BASEURL:?error}`)"
      traefik.http.routers.github_proxy_avatars.entrypoints: "websecure"
      traefik.http.routers.github_proxy_avatars.tls.certresolver: "cloudflare"
      traefik.http.routers.github_proxy_avatars.service: "github_proxy_avatars"

      traefik.http.services.github_proxy_raw.loadbalancer.server.port: "8083"
      traefik.http.routers.github_proxy_raw.rule: "Host(`raw-githubusercontent.${BASEURL:?error}`)"
      traefik.http.routers.github_proxy_raw.entrypoints: "websecure"
      traefik.http.routers.github_proxy_raw.tls.certresolver: "cloudflare"
      traefik.http.routers.github_proxy_raw.service: "github_proxy_raw"

      traefik.http.services.github_proxy_objects.loadbalancer.server.port: "8084"
      traefik.http.routers.github_proxy_objects.rule: "Host(`objects-githubusercontent.${BASEURL:?error}`)"
      traefik.http.routers.github_proxy_objects.entrypoints: "websecure"
      traefik.http.routers.github_proxy_objects.tls.certresolver: "cloudflare"
      traefik.http.routers.github_proxy_objects.service: "github_proxy_objects"

      traefik.http.services.github_proxy_api.loadbalancer.server.port: "8085"
      traefik.http.routers.github_proxy_api.rule: "Host(`api-github.${BASEURL:?error}`)"
      traefik.http.routers.github_proxy_api.entrypoints: "websecure"
      traefik.http.routers.github_proxy_api.tls.certresolver: "cloudflare"
      traefik.http.routers.github_proxy_api.service: "github_proxy_api"
    networks:
      frontend:
    deploy:
      resources:
        limits:
          memory: "1G"

  github_proxy:
    image: "nginx:alpine"
    container_name: "github_proxy"
    restart: "unless-stopped"
    hostname: "gh_proxy"
    networks:
      frontend:
    volumes:
      - "./config/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
    deploy:
      resources:
        limits:
          memory: "1G"

networks:
  frontend:
    external: true
