services:
  traefik:
    image: "traefik:v3.6"
    container_name: "traefik"
    restart: "unless-stopped"
    environment:
      CF_DNS_API_TOKEN: "${CF_DNS_API_TOKEN}"
    labels:
      traefik.enable: true

      traefik.http.middlewares.admin_auth.basicAuth.users: "${ADMIN_HTPASSWD}"
      traefik.http.middlewares.user_auth.basicAuth.users: "${USER_HTPASSWD}"
    networks:
      frontend:
    ports:
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./config/traefik.yaml:/etc/traefik/traefik.yaml:ro"
      - "./letsencrypt:/letsencrypt"
    deploy:
      resources:
        limits:
          memory: ${MEMORY_LIMIT:?error}

  whoami:
    image: "traefik/whoami"
    container_name: "whoami"
    restart: "unless-stopped"
    labels:
      traefik.enable: true
      traefik.http.services.whoami.loadbalancer.server.port: "80"
      traefik.http.routers.whoami.rule: "Host(`whoami.${BASEURL:?error}`)"
      traefik.http.routers.whoami.entrypoints: "websecure"
      traefik.http.routers.whoami.tls.certresolver: "cloudflare"
      traefik.http.routers.whoami.service: "whoami"
    networks:
      frontend:
    deploy:
      resources:
        limits:
          memory: '10M'

networks:
  frontend:
    external: true
