services:
  sshwifty:
    image: "niruix/sshwifty:latest"
    container_name: "sshwifty"
    restart: "unless-stopped"
    environment:
      SSHWIFTY_CONFIG: "/etc/sshwifty/config.json"
    labels:
      traefik.enable: true
      traefik.http.services.sshwifty.loadbalancer.server.port: "8182"
      traefik.http.routers.sshwifty.rule: "Host(`shell.${BASEURL:?error}`)"
      traefik.http.routers.sshwifty.entrypoints: "websecure"
      traefik.http.routers.sshwifty.tls.certresolver: "cloudflare"
      traefik.http.routers.sshwifty.service: "sshwifty"
      traefik.http.routers.sshwifty.middlewares: "compressor"
    networks:
      frontend:
    volumes:
      - "./config/sshwifty.conf.json:/etc/sshwifty/config.json:ro"
    deploy:
      resources:
        limits:
          memory: ${MEMORY_LIMIT:?error}

networks:
  frontend:
    external: true
