services:
  cadvisor:
    image: ghcr.io/google/cadvisor:0.56.2
    container_name: cadvisor
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    restart: unless-stopped
    command:
      - --docker_only=true
      - --housekeeping_interval=8s
      - --storage_duration=15m0s
      - --store_container_labels=false
      - --disable_metrics=percpu,disk,advtcp,cpu_topology,cpuset,hugetlb,memory_numa,process,referenced_memory,resctrl,sched,tcp,udp
    labels:
      traefik.enable: true
      traefik.http.services.cadvisor.loadbalancer.server.port: "8080"
      traefik.http.routers.cadvisor.rule: "Host(`cadvisor.${BASEURL:?error}`)"
      traefik.http.routers.cadvisor.entrypoints: "websecure"
      traefik.http.routers.cadvisor.tls.certresolver: "cloudflare"
      traefik.http.routers.cadvisor.service: "cadvisor"
      traefik.http.routers.cadvisor.middlewares: "admin_auth,compressor"
    networks:
      frontend:
    deploy:
      resources:
        limits:
          memory: ${MEMORY_LIMIT:?error}

networks:
  frontend:
    external: true
