services:
  peerbanhelper:
    image: "ghostchu/peerbanhelper:v9.2.5"
    container_name: "peerbanhelper"
    user: ${UID}:${GID}
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.services.peerbanhelper.loadbalancer.server.port: "9898"
      traefik.http.routers.peerbanhelper.rule: "Host(`pbh.${BASEURL:?error}`)"
      traefik.http.routers.peerbanhelper.entrypoints: "websecure"
      traefik.http.routers.peerbanhelper.tls.certresolver: "cloudflare"
      traefik.http.routers.peerbanhelper.service: "peerbanhelper"
    networks:
      frontend:
    hostname: "peerbanhelper"
    volumes:
      - "./data:/app/data"
    stop_grace_period: "30s"
    deploy:
      resources:
        limits:
          memory: ${MEMORY_LIMIT:?error}

networks:
  frontend:
    external: true
